@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$l-color-fundo-div: hsl(227, 47%, 96%);
$l-color-number: hsl(230, 17%, 14%);
$l-color-followers: #35ab8b;
$l-color-text: hsl(228, 12%, 44%);
$l-color-followers-red: hsl(356, 69%, 56%);
$l-color-face-g: hsl(208, 92%, 53%);
$l-color-twitter-g: hsl(203, 89%, 53%);
$l-color-yt-g: hsl(348, 97%, 39%);
$l-color-fundo: #ffff;

$d-color-bg-top: hsl(232, 19%, 15%);
$d-color-bg: hsl(230, 17%, 14%);
$d-color-fundo-div: hsl(228, 28%, 20%);
$d-color-text: hsl(228, 34%, 66%);
$d-color-number: hsl(0, 0%, 100%);

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    padding-left: 160px;
    padding-right: 160px;
}

#theme:checked~#bg {
    background-color: $d-color-bg;
}

.header {
    margin-bottom: 45px;
}

#icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#bg {
    margin: 0px;
    padding: 0px;
}

#over {
    color: $l-color-number;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 28px;
    font-style: normal;
    margin-bottom: 5px;
    padding-left: 32px;
    margin-top: 20px;
}

#fb, #tw, #ig, #yt {
    background-color: $l-color-fundo-div;
    height: 220px;
    width: 260px;
    border-radius: 8px;
}

#fb_grad, #tw_grad, #yt_grad {
    height: 5px;
    width: 260px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#fb_grad { background-color: $l-color-face-g; }
#tw_grad { background-color: $l-color-twitter-g; }
#yt_grad { background-color: $l-color-yt-g; }

#ig_grad {
    height: 5px;
    width: 260px;
    background: linear-gradient(to left, #833ab4, #fd1d1d, #fcb045);
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#fb_img, #tw_img, #ig_img, #yt_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    gap: 10px;
}

#fb_desc, #tw_desc, #ig_desc, #yt_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tw_desc_up, #ig_desc_up, #yt_desc_up {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

#ov_divs, #ov_divs2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#ov_divs {
    padding-bottom: 25px;
}

#ov_divs2 {
    align-items: center;
    padding-bottom: 80px;
}

#fb_pg, #fb_lk, #ig_lk, #ig_pw, #tw_rt, #tw_lk, #yt_lk, #yt_vw {
    background-color: $l-color-fundo-div;
    height: 130px;
    width: 260px;
    border-radius: 8px;
}

#fb_pg_img, #fb_lk_img, #ig_lk_img, #ig_pw_img, #tw_rt_img, #tw_lk_img, #yt_lk_img, #yt_vw_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
}

#fb_pg_desc, #fb_lk_desc, #ig_lk_desc, #ig_pw_desc, #tw_rt_desc, #tw_lk_desc, #yt_lk_desc, #yt_vw_desc {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

p {
    color: $l-color-text;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: $l-color-number;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 55px;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 10px;
}

h3, #cbc2 {
    color: $l-color-text;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 28px;
    font-style: normal;
    margin-bottom: 5px;
    padding-left: 32px;
    margin-top: 20px;
}

h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 10px;
}

p1, p2, p3, p4 {
    color: $l-color-text;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p1 { font-weight: 700; font-size: 12px; }
p2 { font-weight: 400; letter-spacing: 4px; }
p3 { font-weight: 600; font-size: 15px; padding-left: 32px; }
p4 {
    color: $l-color-followers-red;
    font-weight: 700;
    font-size: 12px;
}

p { color: $l-color-followers; font-weight: 700; font-size: 12px; }

#theme~#icons {
    background-color: $l-color-fundo;

    & h1, & h2, & h4 { color: $l-color-number; }
    & h3 { color: $l-color-text; }
}

#theme:checked~#bg {

    & #cbc2, & #over, & h1, & h2, & h3, & h4 { color: $d-color-number; }

    & #icons, & #ov_divs, & #ov_divs2 {

        & #fb, & #tw, & #ig, & #yt, & #fb_pg, & #fb_lk, & #ig_lk, & #ig_pw, & #tw_rt, & #tw_lk, & #yt_lk, & #yt_vw {
            background-color: $d-color-fundo-div;
        }
    }

    & #ov_divs2 {
        p { color: $d-color-number; }
    }
}
